Framework/CambridgeSoft/Documents/Design/XML/SearchService.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Leah Jenney (home) -->
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DateCriteria">
		<xs:complexType>
			<xs:attribute name="operator" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="equal"/>
						<xs:enumeration value="gt"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberCriteria">
		<xs:complexType>
			<xs:attribute name="operator" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="gt"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SearchCriteria">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SearchCriteriaItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SearchCriteriaItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TextCriteria" minOccurs="0"/>
				<xs:element ref="DateCriteria" minOccurs="0"/>
				<xs:element ref="NumberCriteria" minOccurs="0"/>
				<xs:element ref="StructureCriteria" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=" "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tableid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=" "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fieldname" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=" "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="modifier" use="optional" default="NOT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NOT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="StructureCriteria">
		<xs:complexType>
			<xs:attribute name="absoluteHitsRel" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NO"/>
						<xs:enumeration value="YES"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="doubleBondStereo" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fragmentsOverlap" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="full" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="hitAnyChargeCarbon" default="YES">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="hitAnyChargeHetero" default="YES">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="identity" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="permitExtraneousFragments" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="permitExtraneousFragmentsIfRXN" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="reactionCenter" default="YES">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="relativeTetStereo" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="similar" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="simThreshold" default="100">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:maxInclusive value="100"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tautomer" default="NO">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tetrahedralStereo" default="YES">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
						<xs:enumeration value="SAME"/>
						<xs:enumeration value="EITHER"/>
						<xs:enumeration value="ANY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TextCriteria">
		<xs:complexType>
			<xs:attribute name="operator" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="gt"/>
						<xs:enumeration value="lt"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fullWordSearch" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NO"/>
						<xs:enumeration value="YES"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="caseSensitive" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NO"/>
						<xs:enumeration value="YES"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="trim" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NO"/>
						<xs:enumeration value="YES"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
