subprojects/asp.net/Framework/CambridgeSoft/ServiceTier/CambridgeSoft.COE.Framework/ServerControls/FormGenerator/Xml/COEForm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="COE.COEFormTemplate" elementFormDefault="qualified" targetNamespace="COE.COEFormTemplate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="COEFormTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="formDisplay" type="tns:displayInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="formElements" type="tns:ArrayOfControlInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="displayInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="height" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="width" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="style" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="top" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="left" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="assembly" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfControlInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="formElement" nillable="true" type="tns:controlInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="controlInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="serverEvents" type="tns:ArrayOfCOEEventInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="clientEvents" type="tns:ArrayOfCOEEventInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="validationRuleList" type="tns:ArrayOfCOEValidationRuleInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataSourceID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataSource" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="bindingExpression" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="configInfo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="displayInfo" type="tns:displayInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCOEEventInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="event" nillable="true" type="tns:COEEventInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COEEventInfo">
    <xs:attribute name="handlerName" type="xs:string" />
    <xs:attribute name="eventName" type="xs:string" />
    <xs:attribute name="handlerScript" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfCOEValidationRuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="validationRule" nillable="true" type="tns:COEValidationRuleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COEValidationRuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="params" type="tns:ArrayOfCOEParameter" />
    </xs:sequence>
    <xs:attribute name="validationRuleName" type="tns:COEValidationRuleEnum" use="required" />
    <xs:attribute name="errorMessage" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfCOEParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="param" nillable="true" type="tns:COEParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COEParameter">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="COEValidationRuleEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="requiredField" />
      <xs:enumeration value="numericRange" />
      <xs:enumeration value="positiveInteger" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="double" />
      <xs:enumeration value="date" />
      <xs:enumeration value="textLength" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>