subprojects/Framework/CambridgeSoft/ServiceTier/CambridgeSoft.COE.Framework/Common/Messaging/xsd/SelectClauseClassMappings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="COE.Mappings"
xmlns="COE.Mappings">
  <xs:element name="mappings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="field">
          <xs:complexType>
            <xs:attribute name="parserClassName" type="xs:string" use="required" />
            <xs:attribute name="assemblyName" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="literal">
          <xs:complexType>
            <xs:attribute name="parserClassName" type="xs:string" use="required" />
            <xs:attribute name="assemblyName" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="max">
          <xs:complexType>
            <xs:attribute name="parserClassName" type="xs:string" use="required" />
            <xs:attribute name="assemblyName" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="switch">
          <xs:complexType>
            <xs:attribute name="parserClassName" type="xs:string" use="required" />
            <xs:attribute name="assemblyName" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="concatenation">
          <xs:complexType>
            <xs:attribute name="parserClassName" type="xs:string" use="required" />
            <xs:attribute name="assemblyName" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>