subprojects/Registration/ServiceTier/CambridgeSoft.COE.Registration.Services.UnitTests/Web References/COERegistrationServices/COERegistrationServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="CambridgeSoft.COE.Registration.Services.Web" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="CambridgeSoft.COE.Registration.Services.Web" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Services for Registration</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="CambridgeSoft.COE.Registration.Services.Web">
      <s:element name="GetTempID">
        <s:complexType />
      </s:element>
      <s:element name="GetTempIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTempIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="COECredentials" type="tns:COECredentials" />
      <s:complexType name="COECredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticationTicket" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SaveRegistryRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registryRecordXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRegistryRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveRegistryRecordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTempIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetTempID" />
  </wsdl:message>
  <wsdl:message name="GetTempIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetTempIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetTempIDCOECredentials">
    <wsdl:part name="COECredentials" element="tns:COECredentials" />
  </wsdl:message>
  <wsdl:message name="SaveRegistryRecordSoapIn">
    <wsdl:part name="parameters" element="tns:SaveRegistryRecord" />
  </wsdl:message>
  <wsdl:message name="SaveRegistryRecordSoapOut">
    <wsdl:part name="parameters" element="tns:SaveRegistryRecordResponse" />
  </wsdl:message>
  <wsdl:message name="SaveRegistryRecordCOECredentials">
    <wsdl:part name="COECredentials" element="tns:COECredentials" />
  </wsdl:message>
  <wsdl:portType name="COERegistrationServicesSoap">
    <wsdl:operation name="GetTempID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a temporal Id to be used for submitted registry records.</wsdl:documentation>
      <wsdl:input message="tns:GetTempIDSoapIn" />
      <wsdl:output message="tns:GetTempIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveRegistryRecord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saves a registry record for later use.</wsdl:documentation>
      <wsdl:input message="tns:SaveRegistryRecordSoapIn" />
      <wsdl:output message="tns:SaveRegistryRecordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COERegistrationServicesSoap" type="tns:COERegistrationServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTempID">
      <soap:operation soapAction="CambridgeSoft.COE.Registration.Services.Web/GetTempID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTempIDCOECredentials" part="COECredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRegistryRecord">
      <soap:operation soapAction="CambridgeSoft.COE.Registration.Services.Web/SaveRegistryRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SaveRegistryRecordCOECredentials" part="COECredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COERegistrationServicesSoap12" type="tns:COERegistrationServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTempID">
      <soap12:operation soapAction="CambridgeSoft.COE.Registration.Services.Web/GetTempID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTempIDCOECredentials" part="COECredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRegistryRecord">
      <soap12:operation soapAction="CambridgeSoft.COE.Registration.Services.Web/SaveRegistryRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SaveRegistryRecordCOECredentials" part="COECredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COERegistrationServices">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Services for Registration</wsdl:documentation>
    <wsdl:port name="COERegistrationServicesSoap" binding="tns:COERegistrationServicesSoap">
      <soap:address location="http://localhost/COERegistration/WebServices/COERegistrationServices.asmx" />
    </wsdl:port>
    <wsdl:port name="COERegistrationServicesSoap12" binding="tns:COERegistrationServicesSoap12">
      <soap12:address location="http://localhost/COERegistration/WebServices/COERegistrationServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>