subprojects/Framework/CambridgeSoft/Prototypes/COEConfigurationEditor/Temporary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="chemSearchEngine">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CSCartridge"/>
						<xs:enumeration value="MolServer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="schemaName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="CSCartridge"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="mstPath">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="/chemacx.mst"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Chemical Search Engine"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Services">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Service" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="toolTip">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="configruation relavant to services"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Services"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceConfig">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="startBatchNumber">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="searchMaxHits">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="100"/>
								<xs:enumeration value="102"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="saltLevel">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="COMPOUND"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="queryCriteriaExpirationDate">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="hitListExpirationDate">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="defaultPrefix">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="AB"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="configEditorName">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Configuration"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="AutogenChemicalName" type="xs:boolean"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Service">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DALProviders"/>
				<xs:element ref="ServiceConfig"/>
			</xs:sequence>
			<xs:attribute name="toolTip">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Container"/>
						<xs:enumeration value="HitList"/>
						<xs:enumeration value="PreRegisteredCompound"/>
						<xs:enumeration value="QueryCriteria"/>
						<xs:enumeration value="RegisteredCompound"/>
						<xs:enumeration value="Search"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="managerClass" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="ContainerManager"/>
						<xs:enumeration value="PreRegisteredCompoundManager"/>
						<xs:enumeration value="RegisteredCompoundManager"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="Container"/>
						<xs:enumeration value="HitList"/>
						<xs:enumeration value="Search"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SelectClauseItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SelectClauseItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="toolTip">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="showChildrenInEditor" type="xs:boolean"/>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="concatenation"/>
						<xs:enumeration value="literal"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Select Clause Items"/>
						<xs:enumeration value="concatenation"/>
						<xs:enumeration value="literal"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessagingTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessagingType" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="showChildrenInEditor" use="required" type="xs:boolean"/>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Messaging Types"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="advanced" use="required" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessagingType">
		<xs:complexType>
			<xs:attribute name="schema" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="/coeframeworkservices/xsd/rdataView.xsd"/>
						<xs:enumeration value="/coeframeworkservices/xsd/resultsCriteria.xsd"/>
						<xs:enumeration value="/coeframeworkservices/xsd/searchCriteria.xsd"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="dataView"/>
						<xs:enumeration value="resultsCriteria"/>
						<xs:enumeration value="searchCritera"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="COE DataView"/>
						<xs:enumeration value="Results Critieria"/>
						<xs:enumeration value="Search Criteria"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FrameworkConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Services"/>
				<xs:element ref="Applications"/>
				<xs:element ref="MessagingTypes"/>
				<xs:element ref="DBConnections"/>
				<xs:element ref="Components"/>
			</xs:sequence>
			<xs:attribute name="toolTip" use="required" type="xs:string"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Global"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DBNames">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DBName" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="toolTip">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="showChildrenInEditor" type="xs:boolean"/>
			<xs:attribute name="configEditorName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Databases"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DBName">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="chemSearchEngine"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CHEMACX"/>
						<xs:enumeration value="CHEMINVDB2"/>
						<xs:enumeration value="REGDB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dbConnection" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CHEMACX"/>
						<xs:enumeration value="CHEMINVDB2"/>
						<xs:enumeration value="REGDB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CHEMINVDB2"/>
						<xs:enumeration value="ChemACX"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coeDbmsType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MSACCESS"/>
						<xs:enumeration value="ORACLE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DBConnections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DBConnection" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="toolTip" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="connection strings"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="showChildrenInEditor" use="required" type="xs:boolean"/>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Connections"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DBConnection">
		<xs:complexType>
			<xs:attribute name="tracing" use="required" type="xs:boolean"/>
			<xs:attribute name="providerName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Oracle.DataAccess.Client"/>
						<xs:enumeration value="Oracle.System.OLEDB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="owner">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CHEMINVDB2"/>
						<xs:enumeration value="REGDB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="oracleTracing" type="xs:boolean"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CHEMACX"/>
						<xs:enumeration value="CHEMINVDB2"/>
						<xs:enumeration value="REGDB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="connectionString" use="required" type="xs:string"/>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CHEMACX"/>
						<xs:enumeration value="CHEMINVDB2"/>
						<xs:enumeration value="REGDB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DAlProvider">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="Oracle"/>
						<xs:enumeration value="oracle.dataaccess"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="Oracle"/>
						<xs:enumeration value="oracle"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OracleDataAccessClient.cs"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DALProviders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DAlProvider"/>
			</xs:sequence>
			<xs:attribute name="toolTip">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="showChildrenInEditor" type="xs:boolean"/>
			<xs:attribute name="configEditorName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DAL Providers"/>
						<xs:enumeration value="DAL providers"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Components">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Component"/>
			</xs:sequence>
			<xs:attribute name="toolTip">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Components"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComponentConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChemSearchOptions"/>
				<xs:element ref="ChemSearchOptionsDupCheck"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Component">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ComponentConfig"/>
				<xs:sequence>
					<xs:element ref="SelectClauseItem"/>
					<xs:element ref="ChemSearchOptions"/>
					<xs:element ref="ChemSearchOptionsDupCheck"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="toolTip">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SqlGenerator"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SqlGenerator"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChemSearchOptionsDupCheck">
		<xs:complexType>
			<xs:attribute name="configEditorName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Duplicate Check Options"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="allowExtraneousFragments" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="NO"/>
						<xs:enumeration value="YES"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChemSearchOptions">
		<xs:complexType>
			<xs:attribute name="configEditorName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Chemical Search Options"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="allowExtraneousFragments" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="COEConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FrameworkConfig"/>
				<xs:element ref="AppConfiguration" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Applications">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Application" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Application">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Inventory"/>
						<xs:enumeration value="Registration"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dbConnecton" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="REGDB"/>
						<xs:enumeration value="CHEMINVDB2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Inventory Manager"/>
						<xs:enumeration value="Registration Mananger"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AppConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Services"/>
				<xs:element ref="DBNames"/>
				<xs:element ref="Components"/>
			</xs:sequence>
			<xs:attribute name="toolTip" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Registration"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configEditorName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="Inventory"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
