subprojects/asp.net/12.6.3/Manager/Manager/Service References/SpotfireLibraryService/LibraryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.springframework.org/schema/beans" xmlns:ns1="http://spotfire.tibco.com/ws/2008/12/library.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" name="LibraryService" targetNamespace="http://www.springframework.org/schema/beans" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://spotfire.tibco.com/ws/2008/12/library.xsd" location="http://shadev437:650/spotfire/ws/LibraryService?wsdl=LibraryService.wsdl" />
  <wsdl:types />
  <wsdl:binding name="LibraryServiceSoapBinding" type="ns1:LibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="loadContent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="loadContent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loadContentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="guidToPath">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="guidToPath">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="guidToPathResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="trySaveItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="trySaveItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="trySaveItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadItems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="loadItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loadItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="tryDeleteItems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="tryDeleteItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="tryDeleteItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listAllUnsatisfiedDependencies">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listAllUnsatisfiedDependencies">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listAllUnsatisfiedDependenciesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadTypes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="loadTypes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loadTypesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="copyItems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="copyItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="copyItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listAvailableTypes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listAvailableTypes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listAvailableTypesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="moveItems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="moveItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="moveItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pathToGuid">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="pathToGuid">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="pathToGuidResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="search">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listDependentItems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listDependentItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listDependentItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listChildren">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listChildren">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listChildrenResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loadVisibleTypes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="loadVisibleTypes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loadVisibleTypesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LibraryException">
        <soap:fault use="literal" name="LibraryException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="LibraryServicePort" binding="tns:LibraryServiceSoapBinding">
      <soap:address location="http://shadev437:650/spotfire/ws/LibraryService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>