subprojects/asp.net/Framework/CambridgeSoft/ServiceTier/CambridgeSoft.COE.Framework/Search/HitList.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Leah Jenney (home) -->
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="HitList">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="count" type="xs:string" use="required"/>
			<xs:attribute name="baseTable" type="xs:string" use="required"/>
			<xs:attribute name="pkey" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="dateTimeStamp" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
