subprojects/asp.net/Registration/PresentationTier/Registration.Server/Webservices/RegistryRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="MultiCompoundRegistryRecord">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="ID"/>
        <xs:element minOccurs="0" ref="DateCreated"/>
        <xs:element minOccurs="0" ref="DateLastModified"/>
        <xs:element minOccurs="0" ref="PersonCreated"/>
        <xs:element minOccurs="0" ref="StructureAggregation"/>
        <xs:element minOccurs="0" ref="Approved"/>
        <xs:element ref="RegNumber" minOccurs="0"/>
        <xs:element ref="IdentifierList" minOccurs="0"/>
        <xs:element ref="ProjectList" minOccurs="0"/>
        <xs:element ref="PropertyList" minOccurs="0"/>
        <xs:element ref="ComponentList" minOccurs="0"/>
        <xs:element ref="BatchList" minOccurs="0"/>
        <xs:element ref="AddIns" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="IsEditable" use="optional" type="xs:string"/>
      <xs:attribute name="ActiveRLS" type="RLSStatus" use="optional"/>
      <xs:attribute name="SameBatchesIdentity" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StructureAggregation" type="xs:base64Binary"/>
  <xs:element name="Approved" type="ApprovedStatus"/>
  <xs:element name="ComponentList">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <xs:element ref="Component" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Component">
    <xs:complexType>
      <xs:all minOccurs="1">
        <xs:element ref="ID" minOccurs="0"/>
        <xs:element ref="ComponentIndex" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="Compound" minOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Compound">
    <xs:complexType>
      <xs:all minOccurs="1">
        <xs:element ref="CompoundID" minOccurs="0"/>
        <xs:element ref="RegisteredCompoundID" minOccurs="0"/>
        <xs:element ref="DateCreated" minOccurs="0"/>
        <xs:element ref="PersonCreated" minOccurs="0"/>
        <xs:element ref="PersonRegistered" minOccurs="0"/>
        <xs:element ref="DateLastModified" minOccurs="0"/>
        <xs:element ref="Tag" minOccurs="0"/>
        <xs:element ref="PropertyList" minOccurs="0"/>
        <xs:element ref="RegNumber" minOccurs="0"/>
        <xs:element ref="BaseFragment"/>
        <xs:element ref="FragmentList" minOccurs="0"/>
        <xs:element ref="IdentifierList" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tag" type="xs:string"> </xs:element>
  <xs:element name="BaseFragment">
    <xs:complexType>
      <xs:all minOccurs="1">
        <xs:element ref="Structure"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchList">
    <xs:complexType>
      <xs:sequence minOccurs="1">
        <xs:element ref="Batch" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Batch">
    <xs:complexType>
      <xs:all>
        <xs:element ref="BatchID" minOccurs="0"/>
        <xs:element minOccurs="0" ref="TempBatchID"/>
        <xs:element ref="BatchNumber" minOccurs="0"/>
        <xs:element ref="FullRegNumber" minOccurs="0"/>
        <xs:element ref="DateCreated" minOccurs="0"/>
        <xs:element ref="PersonCreated" minOccurs="0"/>
        <xs:element ref="PersonRegistered" minOccurs="0"/>
        <xs:element ref="DateLastModified" minOccurs="0"/>
        <xs:element ref="StatusID" minOccurs="0"/>
        <xs:element ref="ProjectList" minOccurs="0"/>
        <xs:element ref="IdentifierList" minOccurs="0"/>
        <xs:element ref="PropertyList" minOccurs="0"/>
        <xs:element ref="BatchComponentList" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchNumber" type="nullableInt"/>
  <xs:element name="FullRegNumber" type="xs:string"/>
  <xs:element name="StatusID" type="nullableInt"> </xs:element>
  <xs:element name="BatchComponentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BatchComponent" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchComponent">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ID" minOccurs="1"/>
        <xs:element ref="BatchID" minOccurs="0"/>
        <xs:element ref="CompoundID" minOccurs="0"/>
        <xs:element ref="MixtureComponentID" minOccurs="0"/>
        <xs:element ref="ComponentIndex" minOccurs="0"/>
        <xs:element ref="PropertyList" minOccurs="0"/>
        <xs:element ref="BatchComponentFragmentList" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="MixtureComponentID" type="xs:string"/>
  <xs:element name="AddIns">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="AddIn" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Event" minOccurs="0"/>
        <xs:element ref="AddInConfiguration" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="assembly" use="optional" type="xs:string"/>
      <xs:attribute name="class" use="optional" type="xs:string"/>
      <xs:attribute name="enabled" use="optional" type="xs:string" form="unqualified"/>
      <xs:attribute name="friendlyName" use="optional" type="xs:string"/>
      <xs:attribute name="required" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Event">
    <xs:complexType>
      <xs:attribute name="eventHandler" use="optional" type="xs:string"/>
      <xs:attribute name="eventName" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInConfiguration">
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="xs:anyType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transformation" type="xs:NCName"/>
  <xs:element name="DefaultText" type="xs:string"/>
  <xs:element name="SearchCriteria" type="xs:string"/>
  <xs:element name="ResultFields" type="xs:string"/>
  <xs:element name="ScriptFile" type="xs:string"/>
  <xs:element name="StructuresIdsToAvoid" type="xs:string"/>
  <xs:element name="ID" nillable="false" type="nullableInt"> </xs:element>
  <xs:element name="DateCreated" type="xs:string"/>
  <xs:element name="DateLastModified" type="xs:string"/>
  <xs:element name="PersonCreated">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="nullableInt">
          <xs:attribute name="displayName" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Property" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Property">
    <xs:complexType mixed="true">
      <xs:all minOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" ref="validationRuleList"/>
      </xs:all>
      <xs:attribute name="friendlyName" use="optional" type="xs:string"/>
      <xs:attribute name="name" use="optional" type="xs:string"/>
      <xs:attribute name="pickListDomainID" type="xs:string"/>
      <xs:attribute name="precision" use="optional" type="xs:string"/>
      <xs:attribute name="sortOrder" use="optional" type="nullableInt"/>
      <xs:attribute name="type" use="optional" type="xs:string"/>
      <xs:attribute name="id" type="nullableInt"/>
      <xs:attribute name="pickListDisplayValue" type="xs:string"/>
      <xs:attribute name="subType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="validationRuleList">
    <xs:complexType>
      <xs:sequence minOccurs="1">
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="validationRule"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validationRule">
    <xs:complexType>
      <xs:all minOccurs="1">
        <xs:element ref="params" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="errorMessage" type="xs:string"/>
      <xs:attribute name="validationRuleName" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="params">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="param" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="param">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegNumber">
    <xs:complexType mixed="true">
      <xs:all maxOccurs="1" minOccurs="1">
        <xs:element minOccurs="0" name="RegNumber" type="xs:string"/>
        <xs:element ref="RegID" minOccurs="0"/>
        <xs:element ref="SequenceID" minOccurs="0"/>
        <xs:element ref="SequenceNumber" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegID" type="nullableInt"/>
  <xs:element name="SequenceID" type="nullableInt"/>
  <xs:element name="SequenceNumber" type="nullableInt"/>
  <xs:element name="IdentifierList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Identifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Identifier">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ID" minOccurs="0"/>
        <xs:element ref="IdentifierID" minOccurs="0"/>
        <xs:element ref="InputText" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentifierID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="nullableInt">
          <xs:attribute name="Active" use="optional" type="xs:string"/>
          <xs:attribute name="Description" use="optional" type="xs:string"/>
          <xs:attribute name="Name" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputText" type="xs:string"/>
  <xs:element name="ProjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Project" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ID" minOccurs="0"/>
        <xs:element ref="ProjectID" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="nullableInt">
          <xs:attribute name="Active" use="optional" type="xs:string"/>
          <xs:attribute name="Description" use="optional" type="xs:string"/>
          <xs:attribute name="Name" use="optional" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComponentIndex" type="nullableInt"/>
  <xs:element name="CompoundID" type="nullableInt"/>
  <xs:element name="PersonRegistered" type="nullableInt"/>
  <xs:element name="Structure">
    <xs:complexType mixed="true">
      <xs:all maxOccurs="1" minOccurs="0">
        <xs:element minOccurs="0" name="Structure">
          <xs:complexType mixed="true">
            <xs:all minOccurs="0">
              <xs:element ref="validationRuleList"/>
            </xs:all>
            <xs:attribute name="formula" type="xs:string"/>
            <xs:attribute name="molWeight" type="nullableDouble"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="NormalizedStructure" minOccurs="0"/>
        <xs:element ref="StructureID" minOccurs="0"/>
        <xs:element ref="StructureFormat" minOccurs="0"/>
        <xs:element ref="UseNormalization" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="formula" type="xs:NCName"/>
      <xs:attribute name="molWeight" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormalizedStructure" type="xs:base64Binary"/>
  <xs:element name="StructureID" type="nullableInt"/>
  <xs:element name="StructureFormat" type="xs:string"> </xs:element>
  <xs:element name="UseNormalization" type="xs:NCName"/>
  <xs:element name="BatchID" type="nullableInt"/>
  <xs:element name="Behavior" type="xs:NCName"/>
  <xs:element name="PropertyName" type="xs:NCName"/>
  <xs:simpleType name="ApprovedStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet"/>
      <xs:enumeration value="Approved"/>
      <xs:enumeration value="Rejected"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RLSStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off"/>
      <xs:enumeration value="RegistryLevelProjects"/>
      <xs:enumeration value="BatchLevelProjects"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegisteredCompoundID" type="nullableInt"/>
  <xs:element name="FragmentList">
    <xs:complexType>
      <xs:sequence minOccurs="1">
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Fragment"/>
      </xs:sequence>
      <xs:attribute name="insert" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fragment">
    <xs:complexType>
      <xs:all minOccurs="0">
        <xs:element minOccurs="0" ref="CompoundFragmentID"/>
        <xs:element minOccurs="0" ref="FragmentID"/>
        <xs:element minOccurs="0" ref="Code"/>
        <xs:element minOccurs="0" ref="Name"/>
        <xs:element minOccurs="0" ref="FragmentTypeID"/>
        <xs:element minOccurs="0" ref="DateCreated"/>
        <xs:element minOccurs="0" ref="DateLastModified"/>
        <xs:element minOccurs="0" ref="Equivalents"/>
        <xs:element minOccurs="0" ref="Structure"/>
        <xs:element minOccurs="0" ref="Description"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompoundFragmentID" type="nullableInt"/>
  <xs:element name="FragmentID" type="nullableInt"/>
  <xs:element name="Code" type="xs:string"/>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="FragmentTypeID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="nullableInt">
          <xs:attribute name="displayField" type="xs:string" use="optional"/>
          <xs:attribute name="displayValue" type="xs:string" use="optional"/>
          <xs:attribute name="lookupField" type="xs:string" use="optional"/>
          <xs:attribute name="lookupTable" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Equivalents" type="nullableFloat"> </xs:element>
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="TempBatchID" type="nullableInt"/>
  <xs:element name="BatchComponentFragmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="BatchComponentFragment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchComponentFragment">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="ID"/>
        <xs:element minOccurs="0" ref="FragmentID"/>
        <xs:element minOccurs="0" ref="Equivalents"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="emptyString">
    <xs:restriction base="xs:string">
      <xs:length value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nullableInt">
    <xs:union memberTypes="emptyString xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="nullableFloat">
    <xs:union memberTypes="emptyString xs:float"/>
  </xs:simpleType>
  <xs:simpleType name="nullableDouble">
    <xs:union memberTypes="emptyString xs:double"/>
  </xs:simpleType>
</xs:schema>
